body {
  background-color: lavender;
}
button {
  margin: 20px;
  background-color: lightpink !important ;
  /* padding: 20px; */
}

#newBurger {
  /* justify-content: center; */
  padding-right: 400px;
  float: right;
}

img {
  justify-content: center;
}
